@font-face {
    font-family: font;
    src: url(SourceSansPro-Regular.otf);
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: font;
    word-spacing: 3px;
    font-size: 16px;
    color: #3d3d3d;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    
    overflow-y: scroll;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 100%;
    height: auto;
    margin-bottom: -150px;
}
.back {
    height: auto;
    width: 100%;
    background: -webkit-linear-gradient(#00c4ed, #d3e5e9);
    min-height: 100%;
}
.navbar {
    width: 100%;
    height: 40px;
    text-align: center;
}
.navbar * {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    list-style: none;
    height: 40px;
}
.navbar li {
    display: block;
    float: left;
    width: 130px;
    margin: 0 40px;
    background: #eee;
    border-radius: 10px;
}
.navbar a {
    display: block;
    line-height: 40px;
    font-weight: bold;
}
.nav {
    display: inline-block;
}
#content {
    margin-top: 30px;
    display: none;
    background: white;
    padding: 50px;
    border-radius: 20px;
}
input[type=text] {
    -webkit-transition: box-shadow 0.2s, border 0.2s;
    -moz-transition: box-shadow 0.2s, border 0.2s;
    -ms-transition: box-shadow 0.2s, border 0.2s;
    -o-transition: box-shadow 0.2s, border 0.2s;
    transition: box-shadow 0.2s, border 0.2s;
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px #ccc;
    -webkit-box-shadow: inset 0 1px 2px #eee;
    -moz-box-shadow: inset 0 1px 2px #eee;
    -ms-box-shadow: inset 0 1px 2px #eee;
    -o-box-shadow: inset 0 1px 2px #eee;
    box-shadow: inset 0 1px 2px #eee;
}
#search {
    width: 100%;
}
.search-container form {
    float: left;
    width: 84%;
}
.title {
    width: 154px;
    float: left;
}
.header {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 10px;
}
input[type=text]:focus, textarea:focus {
    -webkit-box-shadow: inset 0 1px 2px #eee, 0 0 8px #0070FF;
    -moz-box-shadow: inset 0 1px 2px #eee, 0 0 8px #0070FF;
    -ms-box-shadow: inset 0 1px 2px #eee, 0 0 8px #0070FF;
    -o-box-shadow: inset 0 1px 2px #eee, 0 0 8px #0070FF;
    box-shadow: inset 0 1px 2px #eee, 0 0 8px #0070FF;
    border: solid 1px #358EFF;
}
.tab-content {
    padding: 10px;
}
.tab-content > * {
    display: none;
}
#child.selected, #parent.selected {
    background: #f8de00;
    border-radius: 10px;
}
#content-parent.selected, #content-child.selected {
    display: block;
}
.tabs {
    margin-top: 20px;
}
.footer {
    height: 150px;
    background: #eee;
    display: table;
    width: 100%;
}
.footer-container {
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.search-container {
    width: 800px;
    float: right;
}
.data-display {
    overflow: hidden;
}
.data-display .field {
    width: 45%;
    float: left;
    text-align: right;
    padding-right: 5px;
}
.data-display .data {
    width: 54%;
    float: right;
    text-align: left;
}
.data-display .row {
    overflow: hidden;
    margin: 10px;
}
.heading {
    margin: 10px;
    margin-left: 20%;
    font-size: 18px;
}
.data-display .image {
    width: 150px;
    height: 150px;
    float: left;
}
.rows {
    width: 510px;
    margin-left: 20px;
    float: right;
}
.rows .field {
    width: 18%;
}
.rows .data {
    width: 81%;
}
.data-display.patient-info {
    overflow: hidden;
    width: 700px;
    margin: 20px auto;
}
.search-type {
    width: 15%;
    float: right;
    text-align: left;
}
.first-name {
    display: block;
    float: left;
}
.id {
    display: block;
    float: left;
}
